
Lesson3/__pycache__/test_examples.cpython-312-pytest-7.4.2.pyc
Lesson2/__pycache__/test_examples.cpython-312-pytest-7.4.2.pyc
Lesson3/__pycache__/test_user_auth.cpython-312-pytest-7.4.2.pyc
Lesson3/__pycache__/
Lesson3_framework/.idea/workspace.xml
